[Unit]
Description=secret be server
After=network.target

[Service]
User=deep
WorkingDirectory=/home/deep/secret/
Environment="PORT=9340"
ExecStart=/home/deep/secret/secret_be
Restart=always

[Install]
WantedBy=multi-user.target